$(function(){
  $('#power').keyup(function(){
    var content = $("#power").val();
    $('#preview').html(content);
  });
});

$(function(){
  $('input[name="post[kind]"]:radio').change( function(){
    var kind = this.value;
    switch(kind){
      case 'kokuban':
        dataUrl = "<%= asset_path 'kokuban' %>";
        break;
      case 'rich':
        dataUrl = "<%= asset_path 'rich' %>";
        break;
      case 'sleep':
        dataUrl = "<%= asset_path 'sleep' %>";
        break;
      case 'speech':
        dataUrl = "<%= asset_path 'speech' %>";
        break;
      case 'thinking':
        dataUrl = "<%= asset_path 'thinking' %>";
        break;
      case 'hukidashi':
        dataUrl = "<%= asset_path 'hukidashi' %>";
        break;
      case 'donguri':
        dataUrl = "<%= asset_path 'donguri' %>";
        break;
      case 'cat-bikkuri':
        dataUrl = "<%= asset_path 'cat-bikkuri' %>";
        break;
      case 'muzui':
        dataUrl = "<%= asset_path 'muzui' %>";
        break;
      case 'bikkuri':
        dataUrl = "<%= asset_path 'bikkuri' %>";
        break;
      case 'owata':
        dataUrl = "<%= asset_path 'owata' %>";
        break;
      case 'muscle':
        dataUrl = "<%= asset_path 'muscle' %>";
        break;
      case 'endo1':
        dataUrl = "<%= asset_path 'endo1' %>";
        break;
      case 'endo2':
        dataUrl = "<%= asset_path 'endo2' %>";
        break;
      case 'muscle_man':
        dataUrl = "<%= asset_path 'muscle_man' %>";
        break;
      case 'muscle_woman':
        dataUrl = "<%= asset_path 'muscle_woman' %>";
        break;
      case 'protein':
        dataUrl = "<%= asset_path 'protein' %>";
        break;
      case 'happy':
        dataUrl = "<%= asset_path 'happy' %>";
        break;
      case 'cry':
        dataUrl = "<%= asset_path 'cry' %>";
        break;
      case 'hacker':
        dataUrl = "<%= asset_path 'hacker' %>";
        break;
      case 'ojisan':
        dataUrl = "<%= asset_path 'ojisan' %>";
        break;
      case 'horse':
        dataUrl = "<%= asset_path 'horse' %>";
        break;
      case 'black':
        dataUrl = "<%= asset_path 'black' %>";
        break;
      default:
        dataUrl = "<%= asset_path 'white' %>";
        break;
    }
    var white_word = ["black", "kokuban", "donguri", "cat-bikkuri", "owata", "muzui", "endo2"]
    if (white_word.includes(this.value)){
      $('#preview').css('color', 'white');
    } else {
      $('#preview').css('color', 'black');
    }
    $("#main-image").attr('src',dataUrl);
  });
});

$(function(){
  $("#save-button").on("click", function () {
    // 生成する文字列の長さ
    var l = 8;
    // 生成する文字列に含める文字セット
    var c = "abcdefghijklmnopqrstuvwxyz0123456789";
    var cl = c.length;
    var hash = "";
    for(var i=0; i<l; i++){
      hash += c[Math.floor(Math.random()*cl)];
    }

    // クリップボードへのコピー機能
    $('#copyTarget').css('display', 'block');
    $('#copyTarget').val(`#BigTweet https://bigtweet2.herokuapp.com?h=${hash}`);
      var copyTarget = document.getElementById("copyTarget"); // コピー対象のテキストを選択する
      copyTarget.select();
      // 選択しているテキストをクリップボードにコピーする
      document.execCommand("Copy");
    $('#copyTarget').css('display', 'none');

    html2canvas($('#target').get(0)).then( function (canvas) {
      var imgData = canvas.toDataURL();

      // 処理前に Loading 画像を表示
      dispLoading('BigTweet準備中...画像を作ってるよ！');

      $.ajax({
        url: '/make',
        type: 'POST',
        dataType: 'json',
        async: true,
        data: {imgData: imgData, hash: hash},
      }).done(function(data){
        removeLoading();
        swal({
          type: 'success',
          // title: 'Let\'s BigTweet!',
          text: '画像完成！\n↓Let\'s BigTweet!↓',
          imageUrl: `https://s3-ap-northeast-1.amazonaws.com/bigtweet2-production/images/${hash}.png`,
          imageWidth: 315,
          imageAlt: 'Custom image',
          showConfirmButton: false,
          showCloseButton: true,
          footer: `<a href=https://twitter.com/share?text=%23BigTweet&url=https://bigtweet2.herokuapp.com?h=${hash} class=share_btn2>Twitterシェア</a>`,
        })
      });
    });
  });
});

$(function(){
  $("#word-bigger").on("click", function () {
    $('#preview').css('font-size', '+=10');
  });
  $("#word-smaller").on("click", function () {
    $('#preview').css('font-size', '-=10');
  });
  $("#up").on("click", function () {
    $('#preview').css('top', '-=10');
  });
  $("#down").on("click", function () {
    $('#preview').css('top', '+=10');
  });
  $("#left").on("click", function () {
    $('#preview').css('left', '-=10');
  });
  $("#right").on("click", function () {
    $('#preview').css('left', '+=10');
  });
  $("#vertical").on("click", function () {
    if($('#preview').css('writing-mode') === 'horizontal-tb'){
      $('#preview').css({
        '-webkit-writing-mode': 'vertical-rl',
        '-ms-writing-mode': 'tb-rl',
        'writing-mode': 'vertical-rl',
        'text-orientation': 'upright'
      });
    } else {
      $('#preview').css({
        '-webkit-writing-mode': '',
        '-ms-writing-mode': '',
        'writing-mode': '',
        'text-orientation': ''
      });
    }
  });
  $("#font-color").on("click", function () {
    if($('#preview').css('color') === 'rgb(0, 0, 0)'){
      $('#preview').css('color', 'white');
    } else {
      $('#preview').css('color', 'black');
    }
  });
  $("#font").on("click", function () {
    if($('#preview').css('font-family') === '"Nico Moji"'){
      $('#preview').css('font-family', "Helvetica Neue");
    } else {
      $('#preview').css('font-family', "Nico Moji");
    }
  });
});

$(function(){
  $('#myfile').change(function(e){
    //ファイルオブジェクトを取得する
    var file = e.target.files[0];
    var reader = new FileReader();
    //画像でない場合は処理終了
    if(file.type.indexOf("image") < 0){
      alert("画像ファイルを指定してください。");
      return false;
    }
    //アップロードした画像を設定する
    reader.onload = (function(file){
      return function(e){
        $("#main-image").attr("src", e.target.result);
        $("#main-image").attr("title", file.name);
      };
    })(file);
    reader.readAsDataURL(file);
  });
});

/* ------------------------------
 Loading イメージ表示関数
 引数： msg 画面に表示する文言
 ------------------------------ */
function dispLoading(msg){
  // 引数なし（メッセージなし）を許容
  if( msg == undefined ){
    msg = "";
  }
  // 画面表示メッセージ
  var dispMsg = "<div class='loadingMsg'>" + msg + "</div>";
  // ローディング画像が表示されていない場合のみ出力
  if($("#loading").length == 0){
    $("body").append("<div id='loading'>" + dispMsg + "</div>");
  }
}

/* ------------------------------
 Loading イメージ削除関数
 ------------------------------ */
function removeLoading(){
  $("#loading").remove();
}
