<div>
  <%= image_tag 'top.png', width: '315' %>
</div>

<div>
  <p>文字が入った画像を簡単作成！<br>気軽にBigTweet！！</p>
</div>

<%= form_with(model: @post, local: true, id: 'aaa') do |form| %>
  <div class="form-group">
    <p>背景画像選択（アップロードも可能です）</p>
    <label><%= form.radio_button :kind, "kokuban" %><%= image_tag 'kokuban.jpg', width: '90' %></label>
    <label><%= form.radio_button :kind, "rich" %><%= image_tag 'rich.jpg', width: '90' %></label>
    <label><%= form.radio_button :kind, "sleep" %><%= image_tag 'sleep.jpg', width: '90' %></label>
    <label><%= form.radio_button :kind, "speech" %><%= image_tag 'speech.jpg', width: '90' %></label>
    <label><%= form.radio_button :kind, "thinking" %><%= image_tag 'thinking.jpg', width: '90' %></label>
    <label><%= form.radio_button :kind, "hukidashi" %><%= image_tag 'hukidashi.png', width: '90' %></label>
    <label><%= form.radio_button :kind, "donguri" %><%= image_tag 'donguri.jpg', width: '90' %></label>
    <label><%= form.radio_button :kind, "cat-bikkuri" %><%= image_tag 'cat-bikkuri.jpg', width: '90' %></label>
    <label><%= form.radio_button :kind, "muzui" %><%= image_tag 'muzui.jpg', width: '90' %></label>
    <label><%= form.radio_button :kind, "bikkuri" %><%= image_tag 'bikkuri.jpg', width: '90' %></label>
    <label><%= form.radio_button :kind, "owata" %><%= image_tag 'owata.jpg', width: '90' %></label>
    <label><%= form.radio_button :kind, "muscle" %><%= image_tag 'muscle.png', width: '90' %></label>
    <label><%= form.radio_button :kind, "black" %><%= image_tag 'black.jpg', width: '90' %></label>
    <label><%= form.radio_button :kind, "white" %><%= image_tag 'white.jpg', width: '90' %></label>
  </div>
  <div>
    <input type="file" id="myfile">
  </div>

  <div class="form-group">
    <p>画像内の文字入力</p>
    <%= form.text_area :power, id: 'power', class:'form-control', rows:"3" %>
  </div>

  <p>プレビュー</p>
  <div class="sample" id="target">
    <img id="main-image" width="315">
    <p id="preview"></p>
  </div>

  <br>

  <%= form.hidden_field :picture %>
  <%= form.hidden_field :random %>

<% end %>

<button id="left" class="up share_btn"><i class="fa fa-arrow-left"></i></button>
<button id="down" class="up share_btn"><i class="fa fa-arrow-down"></i></button>
<button id="up" class="up share_btn"><i class="fa fa-arrow-up"></i></button>
<button id="right" class="up share_btn"><i class="fa fa-arrow-right"></i></button>
<br>
<br>
<button id="word-bigger" class="size share_btn"><i class="fa fa-search-plus"></i></button>
<button id="word-smaller" class="size share_btn"><i class="fa fa-search-minus"></i></button>
<button id="vertical" class="vertical share_btn"><i class="fa fa-ellipsis-v"></i></button>
<button id="font-color" class="font-color share_btn"><i class="fa fa-font"></i></button>
<br>
<br>
<button id="save-button" class="share share_btn2"><i class="fa fa-twitter"></i> Twitter投稿へ</button>
