<div>
  <%= image_tag 'top.png', width: '100%' %>
</div>
<br>
<%= form_with(model: @post, local: true, id: 'aaa') do |form| %>
  <div class="form-group">
    <p><b><i class="fa fa-bolt"></i> 背景画像を選択しよう <i class="fa fa-bolt"></i></b><br>
    <small class="text-muted">アップロードも可能です</small></p>
    <label><%= form.radio_button :kind, "rich" %><%= image_tag 'rich-min.jpg', width: '90' %></label>
    <label><%= form.radio_button :kind, "kokuban" %><%= image_tag 'kokuban-min.jpg', width: '90' %></label>
    <label><%= form.radio_button :kind, "sleep" %><%= image_tag 'sleep-min.jpg', width: '90' %></label>
    <label><%= form.radio_button :kind, "speech" %><%= image_tag 'speech-min.jpg', width: '90' %></label>
    <label><%= form.radio_button :kind, "thinking" %><%= image_tag 'thinking-min.jpg', width: '90' %></label>
    <label><%= form.radio_button :kind, "hukidashi" %><%= image_tag 'hukidashi-min.png', width: '90' %></label>
    <label><%= form.radio_button :kind, "donguri" %><%= image_tag 'donguri-min.jpg', width: '90' %></label>
    <label><%= form.radio_button :kind, "cat-bikkuri" %><%= image_tag 'cat-bikkuri-min.jpg', width: '90' %></label>
    <label><%= form.radio_button :kind, "muzui" %><%= image_tag 'muzui-min.jpg', width: '90' %></label>
    <label><%= form.radio_button :kind, "bikkuri" %><%= image_tag 'bikkuri-min.jpg', width: '90' %></label>
    <label><%= form.radio_button :kind, "owata" %><%= image_tag 'owata-min.jpg', width: '90' %></label>
    <label><%= form.radio_button :kind, "muscle" %><%= image_tag 'muscle-min.png', width: '90' %></label>
    <label><%= form.radio_button :kind, "endo1" %><%= image_tag 'endo1-min.png', width: '90' %></label>
    <label><%= form.radio_button :kind, "endo2" %><%= image_tag 'endo2-min.png', width: '90' %></label>
    <label><%= form.radio_button :kind, "muscle_man" %><%= image_tag 'muscle_man-min.png', width: '90' %></label>
    <label><%= form.radio_button :kind, "muscle_woman" %><%= image_tag 'muscle_woman-min.png', width: '90' %></label>
    <label><%= form.radio_button :kind, "protein" %><%= image_tag 'protein-min.png', width: '90' %></label>
    <label><%= form.radio_button :kind, "happy" %><%= image_tag 'happy-min.png', width: '90' %></label>
    <label><%= form.radio_button :kind, "cry" %><%= image_tag 'cry-min.png', width: '90' %></label>
    <label><%= form.radio_button :kind, "hacker" %><%= image_tag 'hacker-min.png', width: '90' %></label>
    <label><%= form.radio_button :kind, "ojisan" %><%= image_tag 'ojisan-min.png', width: '90' %></label>
    <label><%= form.radio_button :kind, "horse" %><%= image_tag 'horse-min.png', width: '90' %></label>
    <label><%= form.radio_button :kind, "black" %><%= image_tag 'black-min.jpg', width: '90' %></label>
    <label><%= form.radio_button :kind, "white" %><%= image_tag 'white-min.jpg', width: '90' %></label>
  </div>
  <div>
    <input type="file" id="myfile">
  </div>

  <br>

  <div class="form-group container">
    <p><b><i class="fa fa-pencil"></i> 画像内の文字を入力しよう <i class="fa fa-pencil"></i></b><br>
    <%= form.text_area :input, id: 'input', class:'form-control', rows:"3" %>
  </div>

  <p><b><i class="fa fa-angle-double-right"></i> プレビュー <i class="fa fa-angle-double-left"></i></b><br>
  <div id="screenshot-target">
    <img id="preview-image" width="315">
    <p id="preview-font"></p>
  </div>
  <br>
<% end %>

<button id="left" class="up share_btn"><i class="fa fa-arrow-left"></i></button>
<button id="down" class="up share_btn"><i class="fa fa-arrow-down"></i></button>
<button id="up" class="up share_btn"><i class="fa fa-arrow-up"></i></button>
<button id="right" class="up share_btn"><i class="fa fa-arrow-right"></i></button>
<br>
<br>
<button id="word-bigger" class="size share_btn"><i class="fa fa-search-plus"></i></button>
<button id="word-smaller" class="size share_btn"><i class="fa fa-search-minus"></i></button>
<button id="vertical" class="vertical share_btn"><i class="fa fa-ellipsis-v"></i></button>
<button id="font-color" class="font-color share_btn"><i class="fa fa-tint"></i></button>
<button id="font" class="font-color share_btn"><i class="fa fa-font"></i></button>
<br>
<br>
<button id="save-button" class="square_btn"><i class="fa fa-check"></i> 画像を確認する</button>
<input style="display: none;" id="copyTarget" type="text" value="コピー">
